@mixin placeholder($size: 16px, $style: normal, $color: #000000) {
    &::-webkit-input-placeholder {
        font-size: $size;
        font-style: $style;
        color: $color;
    }

    &::-moz-placeholder {
        font-size: $size;
        font-style: $style;
        color: $color;
    }

    &:-ms-input-placeholder {
        font-size: $size;
        font-style: $style;
        color: $color;
    }

    &:-moz-placeholder {
        font-size: $size;
        font-style: $style;
        color: $color;
    }

}

@mixin r($width) {
    @media screen and (max-width: $width + 'px') {
        @content;
    }
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$file-path}.woff') format('woff'),
        url('#{$file-path}.woff2') format('woff2'),
        url('#{$file-path}.ttf') format('truetype');
    }
}