<section class="sign-in">
	<div class="form">
		<div class="logo-wrap">
			<div class="logo">
				<div class="logo__inner">
					<div class="logo__element logo__element_1"></div>
					<div class="logo__element logo__element_2"></div>
					<div class="logo__element logo__element_3"></div>
					<div class="logo__element logo__element_4"></div>
				</div>
			</div>
		</div>
		<h1 class="form__title">QCRM</h1>
		<h2 class="form__subtitle">by SupportYourApp</h2>
		<form action="" class="form__action">
			<input class="form__input" type="text" placeholder="Login" name="name" required>
			<input class="form__input" type="password" placeholder="Password" name="pass" required>
			<label class="form__remember">
				<input type="checkbox" checked="checked" name="remember">
				<span class="form__remember-text">Remember me on this computer</span>
			</label>
			<button type="submit" class="form__btn">Sign In to QCRM</button>
		</form>
	</div>
</section>