/*animations*/

@keyframes rotateForm {
    0% {
        transform: rotateX(-40deg);
    }

    85% {
        transform: rotateX(5deg);
    }

    to {
        transform: rotateX(0);
    }
}

@keyframes rotateLogo {
    from {
        transform: translateZ(180px) rotateX(80deg);
    }

    to {
        transform: translateZ(0) rotateX(0);
    }
}

@keyframes returnLogoElements {
    from {
        transform: translateZ(250px) rotateX(50deg);
    }

    to {
        transform: translateZ(0deg) rotateX(0deg);
    }
}

/*END animations*/

.sign-in {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/sign-in-bg-1.jpg') 0 0 no-repeat;
    background-size: cover;
    perspective: 2000px;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%;

    @include r(360) {
        padding: 0 10px;
    }
}

.form {
    position: relative;
    width: 100%;
    max-width: 360px;
    padding: 78px 40px 40px;
    text-align: center;
    background-color: rgba($bright-text-color, .8);
    box-shadow: 0px 3px 32px 0px rgba($dark-text-color, 0.22);
    transform-origin: center top;
    animation: rotateForm 1s cubic-bezier(.32, .63, .92, .8) forwards;

    @include r(767) {
        animation: none;
    }
}

.logo-wrap {
    position: absolute;
    top: -50px;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translateX(-50%);
    perspective: 500px;
    transform-origin: center center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 17px;
    background-color: $bright-text-color;
    box-shadow: 0px 3px 12px 0px rgba($dark-text-color, .07);
    animation: rotateLogo 1s cubic-bezier(0, .4, .5, 1) forwards;

    @include r(767) {
        animation: none;
    }
}

.logo__inner {
    position: relative;
    width: 42px;
    height: 70px;
    perspective: 500px;
    transform-style: preserve-3d;
}

.logo__element {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    opacity: .9;
    transform-origin: center center;
    animation: returnLogoElements 1s forwards;

    @include r(767) {
        animation: none;
    }

    &_1 {
        top: 0;
        left: 0;
        background-color: #ff9100;
    }

    &_2 {
        top: 20%;
        right: 0;
        background-color: #d8449c;
        animation-delay: .1s;
    }

    &_3 {
        top: 40%;
        left: 0;
        background-color: #00a4ff;
        animation-delay: .2s;
    }

    &_4 {
        top: 60%;
        right: 0%;
        background-color: #42bc48;
        animation-delay: .3s;
    }
}

.form__title {
    margin-bottom: 7px;
    font-size: 30px;
    color: $dark-text-color;
    text-transform: uppercase;
}

.form__subtitle {
    margin-bottom: 37px;
    font-size: 15px;
    color: $dark-text-color;
}

.form__input {
    font-family: HelveticaNeue, sans-serif;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 10px 0 9px;
    font-size: 16px;
    border: 1px solid $light-text-color;
    @include placeholder(16px, normal, $dark-text-color);

    &:first-child {
        margin-bottom: 20px;
    }

    &:focus {
        border-color: $controls-color;
        box-shadow: inset 0px 1px 4px 0px rgba($dark-text-color, .39);
    }
}

.form__remember {
    display: flex;
    align-items: center;
    margin: 24px 0 44px 0;
    text-align: left;
}

.form__remember-text {
    font-size: 13px;
    color: $light-text-color;
}

.form__btn {
    font-family: HelveticaNeue, sans-serif;
    font-size: 16px;
    color: $bright-text-color;
    cursor: pointer;
}

.form__btn {
    width: 100%;
    padding: 13px 0 11px;
    background-color: $controls-color;
    transition: .2s;

    &:hover {
        opacity: .8;
    }
}