.sign-in {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/sign-in-bg-1.jpg') 0 0 no-repeat;
    background-size: cover;
}

.form {
    position: relative;
    width: 100%;
    max-width: 360px;
    padding: 78px 40px 40px;
    text-align: center;
    background-color: rgba($bright-text-color, .8);
}

.logo {
    position: absolute;
    top: -50px;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 17px;
    background-color: $bright-text-color;
    transform: translateX(-50%);
}

.logo__element {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 4px;

    &_1 {
        top: 15%;
        left: 28%;
        z-index: 1;
        background-color: rgba(#fc8906, .7);
    }

    &_2 {
        top: 29%;
        left: 42%;
        z-index: 2;
        background-color: rgba(#c40c86, .7);
    }

    &_3 {
        top: 43%;
        left: 28%;
        z-index: 1;
        background-color: rgba(#0f80eb, .7);
    }

    &_4 {
        top: 57%;
        left: 42%;
        z-index: 2;
        background-color: rgba(#21b11c, .7);
    }
}

.form__title {
    margin-bottom: 7px;
    font-size: 30px;
    color: $dark-text-color;
    text-transform: uppercase;
}

.form__subtitle {
    margin-bottom: 37px;
    font-size: 15px;
    color: $dark-text-color;
}

.form__input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 10px 0 9px;
    font-size: 16px;
    border: 1px solid $light-text-color;
    @include placeholder(16px, normal, $dark-text-color);

    &:first-child {
        margin-bottom: 20px;
    }

    &:focus {
        border-width: 2px;
        border-color: $controls-color;
        box-shadow: inset 0px 1px 4px 0px rgba($dark-text-color, .39);
    }
}

.form__remember {
    display: flex;
    align-items: center;
    margin: 24px 0 44px 0;
    text-align: left;
}

.form__remember-text {
    font-size: 13px;
    color: $light-text-color;
}

.form__btn {
    font-size: 16px;
    color: $bright-text-color;
    cursor: pointer;
}

.form__btn {
    width: 100%;
    padding: 13px 0 11px;
    background-color: $controls-color;
    transition: .2s;

    &:hover {
        opacity: .8;
    }
}